body{
    background-color: #212121ff;
    }

h1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 422px;
    }
 
h2{
    font-family:"Abril Fatface";
    font-size: 25px;
    }
.all-content {
    display: flex;
    flex-direction: row;
}
.content1{
    border: 10px solid #78909c;
    background-color:#d9d9d9ff;
    width: 400px;
    padding: 2%; 
    height: 200px;   
    margin-left: 15%;
}

.content2{
    border: 10px solid #78909c;
    background-color:#d9d9d9ff;
    width: 400px;
    padding: 2%; 
    height: 200px;  
    margin-left: 15px;

}
