body{
    background-color: #212121ff;
    }

h1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 422px;
    }
 
h2{
    font-family:"Abril Fatface";
    font-size: 25px;
    }

.content{
    border: 10px solid #78909c;
    background-color:#d9d9d9ff;
    width: 560px;
    padding: 2%; 
    height: 340px;   
    margin-left: 26.3%;
}
